<p>hello {{ nameSignal() }} {{ emailSignal() }}!</p>

<form>
  <fieldset>
    <label>
      Name
      <input
        #name
        placeholder="Name"
        autocomplete="name"
        value="{{ nameSignal() }}"
        (keyup)="nameSignal.set(name.value)"
      />
    </label>
    <label>
      Email
      <input
        #email
        type="email"
        placeholder="Email"
        autocomplete="email"
        value="{{ emailSignal()}}"
        (keyup)="emailSignal.set(email.value)"
      />
    </label>
  </fieldset>

  <input
    type="submit"
    value="Subscribe"
  />
</form>
